body {
  margin: 1%;
  background-color: ;
}

.errors {
  color: red;
}

#navigation>li {
  display: inline;
}

#team-feed-container {
  max-width: 800px;
  width: 60%;
  max-height: 600px;
  overflow: scroll;
}