/*font-family: 'Pinyon Script', cursive;
font-family: 'Brawler', serif;
*/
body {
  margin: auto;
  text-align: center;
  padding: 5%;
  background-color: black;
  font-family: 'Brawler', serif;
}

#main-heading {
  font-family: 'Pinyon Script', cursive;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  font-size: 120px;
  margin: 0;
  color: white;
}

.errors {
  color: red;
}

#navigation>li {
  display: inline-block;
}

#team-feed-container {
  max-width: 1000px;
  width: 70%;
  max-height: 800px;
  overflow: scroll;
  margin: auto;
}

#content-container {
  border: 10px solid white;
  border-radius: 10px;
  padding: 2%;
  background-color: gray;
}

.form-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.form-button:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.nav-bars {
  border-right: 1px solid white;
  padding-right: 5px;
}

.team-badge {
  color: silver;
  font-style: italic;
}
