<h2>New User Registration</h2>
<form action="/users" method="post">
  <label for="user[username]">Username:</label><br>
  <input type="text" name="user[username]"><br><br>
  <label for="user[email]">Email:</label><br>
  <input type="text" name="user[email]"><br><br>
  <label for="user[favorite_team_id]">Favorite Team:</label><br>
  <select name="favorite_team">
    <option value="none">None</option>
    <option value="Bills">Bills</option>
    <option value="Dolphins">Dolphins</option>
    <option value="Patriots">Patriots</option>
    <option value="Jets">Jets</option>
    <option value="Ravens">Ravens</option>
    <option value="Bengals">Bengals</option>
    <option value="Browns">Browns</option>
    <option value="Steelers">Steelers</option>
    <option value="Texans">Texans</option>
    <option value="Colts">Colts</option>
    <option value="Jaguars">Jaguars</option>
    <option value="Titans">Titans</option>
    <option value="Broncos">Broncos</option>
    <option value="Chiefs">Chiefs</option>
    <option value="Raiders">Raiders</option>
    <option value="Chargers">Chargers</option>
    <option value="Cowboys">Cowboys</option>
    <option value="Giants">Giants</option>
    <option value="Eagles">Eagles</option>
    <option value="Redskins">Redskins</option>
    <option value="Bears">Bears</option>
    <option value="Lions">Lions</option>
    <option value="Packers">Packers</option>
    <option value="Vikings">Vikings</option>
    <option value="Falcons">Falcons</option>
    <option value="Panthers">Panthers</option>
    <option value="Saints">Saints</option>
    <option value="Buccaneers">Buccaneers</option>
    <option value="Cardinals">Cardinals</option>
    <option value="Rams">Rams</option>
    <option value="49ers">49ers</option>
    <option value="Seahawks">Seahawks</option>
  </select><br><br>
  <label for="user[password]">Password:</label><br>
  <input type="password" name="user[password]"><br><br>
  <label for="confirm_password">Confirm Password:</label><br>
  <input type="password" name="confirm_password"><br><br>
  <input type="submit" value="Register">
</form>
