<h2>Talk some smack...</h2>
<form action="/posts" method="post">
  <label for="post[title]">Title:</label><br>
  <input type="text" name="post[title]"><br><br>
  <label for="post[body]">Content:</label><br>
  <textarea name="post[body]" rows="5" cols="80" placeholder="What's on your mind?"></textarea><br><br>
  <input type="submit" value="Post!">
</form>
